{% load static %}

<aside class="col-md-3 blog-sidebar">
    <br/>
    <div class="p-4 mb-3 bg-light rounded">
            <img src="{% static 'img/avatar.png' %}" alt="" width="100%">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">Thanks for visiting my blog!</p>
        <br/>
        <p class="mb-0">
            I'm a recent computer science graduate, hobbyist programmer, and prospective software engineer, currently living in Naples, Florida.
        </p>
    </div>
</aside>